/* Ponder CSS */

/* Bits stolen from:
 * http://bl.ocks.org/weiglemc/6185069
 */

/* High-level styles */

body {
  font: 14pt sans-serif;
  color: #000;
  background: #eee;
  padding: 0pt;
  margin: 0pt;
  width: 100%;
  height: 100%;
  display: block;
  text-align: center;
}

a {
  color: #000;
}

/* TODO: Make this work T_T */
a, a:visited {
  color: #68f;
  text-decoration: none;
}

a:active {
  color: #8df;
}

table {
  border-collapse: collapse;
}

thead>tr {
  background-color: #ddd;
}

tr:nth-child(even) {
  background-color: #eee;
}

tr:hover {
  background-color: #ccc;
}

th, td {
  padding: 6pt;
}

/* Active elements */

.windows {
  margin: 0pt;
  padding: 0pt;
}

.window {
  width: 48%;
  height: 800px;
  display: inline-block;
  margin: 16pt 0.5% 16pt 0.5%;
  padding: 0pt;
  background: #fff;
}

#top_panel {
  width: 40em;
  margin: 8pt auto 0pt auto;
  text-align: center;
}

#controls {
  margin: 0pt;
  padding: 0pt;
}

.control_panel {
  text-align: left;
  width: 40%;
  display: inline-block;
  margin: 0pt 4% 8pt 4%;
  padding: 8pt;
  background: #fff;
}

.panel {
  text-align: left;
  width: 90%;
  margin: 8pt 4% 8pt 4%;
  padding: 8pt;
  background: #fff;
}

.controls_row {
  margin-bottom: 4pt;
}

#lens {
  fill: #99999922;
  stroke: #666;
}

#lens_shadow {
  fill: #aaaaaa22;
  stroke: #888;
}

.gradient_select {
  appearance: none;
}

.gradient_demo {
  display: inline-block;
  position: relative;
  top: 0.6ex;
  width: 4em;
  height: 1.8ex;
}

.gradient_option {
  color: #000;
  text-shadow: /* Fake outline */
    -1pt -1pt 0 #fff,
     1pt -1pt 0 #fff,
    -1pt  1pt 0 #fff,
     1pt  1pt 0 #fff;
}

/* SVG elements */

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.dot {
  stroke: #000;
}

.label {
  stroke: none;
  fill: #000;
}

/* pre.html elements */

#output_bin {
  width: 100%;
}

#names_scroll_container {
  max-height: 36ex;
  overflow-y: scroll;
}
