/* Ponder CSS */

/* Bits stolen from:
 * http://bl.ocks.org/weiglemc/6185069
 */

/* High-level styles */

body {
  font: 14pt sans-serif;
  color: #000;
  background: #eee;
  padding: 0pt;
  margin: 0pt;
  width: 100%;
  height: 100%;
  display: block;
  text-align: center;
}

a {
  color: #000;
}

/* TODO: Make this work T_T */
a, a:visited {
  color: #68f;
  text-decoration: none;
}

a:active {
  color: #8df;
}

/* Active elements */

#top_panel {
  width: 40em;
  margin: 8pt auto 0pt auto;
  text-align: center;
}

#layout {
  width: 98%;
  margin: 8pt 0.5% 8pt 0.5%;
  border-collapse: collapse;
}

#layout td {
  vertical-align: top;
  padding: 0.5%;
}

#windows {
  width: 100%;
}

#windows td {
  height: 600px;
}

#windows td:first-child {
  width: 38%;
}

#windows td:nth-child(2) {
  width: 18%;
}

#windows td:last-child {
  width: 38%;
}

#selcount {
  text-align: center;
  width: 80%;
}

.window {
  width: 100%;
  height: 100%;
  padding: 0pt;
  background: #fff;
}

.windowlike {
  max-height: 600px;
  overflow: show;
}

.control_panel {
  width: 90%;
  padding: 8pt;
  margin: auto;
  text-align: left;
  background: #fff;
  margin-bottom: 8pt;
}

.panel {
  text-align: left;
  width: 90%;
  margin: 8pt 4% 8pt 4%;
  padding: 8pt;
  background: #fff;
}

.controls_row {
  margin-bottom: 4pt;
}

.lens {
  fill: #99999922;
  stroke: #666;
}

.lens_shadow {
  fill: #aaaaaa22;
  stroke: #888;
}

.spaced_inline {
  display: inline-block;
  margin: 0pt 4pt 0pt 4pt;
}

.gradient_select {
  appearance: none;
}

.gradient_demo {
  display: inline-block;
  width: 4em;
  height: 1.8ex;
  margin: 0pt 4pt -0.4ex 4pt;
}

.gradient_option {
  color: #000;
  text-shadow: /* Fake outline */
    -1pt -1pt 0 #fff,
     1pt -1pt 0 #fff,
    -1pt  1pt 0 #fff,
     1pt  1pt 0 #fff;
}

/* SVG elements */

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.dot {
  stroke: #000;
}

.label {
  stroke: none;
  fill: #000;
}

/* pre.html elements */

table.fields_list {
  border-collapse: collapse;
}

table.fields_list>thead>tr {
  background-color: #ddd;
}

table.fields_list tr:nth-child(even) {
  background-color: #eee;
}

table.fields_list tr:hover {
  background-color: #ccc;
}

table.fields_list th, table.fields_list td {
  padding: 6pt;
}

#output_bin {
  width: 100%;
}

#names_scroll_container {
  max-height: 36ex;
  overflow-y: scroll;
}

.disabled {
  color: #aaa;
}

.short_text {
  width: 6em;
}

.scrolling {
  padding: 4pt;
  max-height: 8em;
  overflow-y: scroll;
}

.match_item {
  display: block;
  color: #79f;
}

.match_item.selected {
  font-weight: bold;
  color: #fff8e0;
  background-color: #79f;
}

.match_empty {
  color: #f97;
}

.x_button {
  display: inline-block;
  height: 1.2ex;
  line-height: 1ex;
  color: #fff;
  background: #79f;
  border: 1pt solid #79f;
  border-radius: 3pt;
}

.field_select {
  margin: 6pt 0pt;
  width: 16em;
}

.matchbox {
  position: absolute;
  max-height: 20em;
  overflow-y: scroll;
  border: 1pt solid black;
  background: #fff;
  padding: 4pt;
  margin-top: -6pt;
}
